* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
body{
     background: url('../imagenes/madera.jpg')center center  no-repeat fixed;
     background-size: cover;
     overflow-x: hidden;
margin: 0;
padding: 0;

}

.cabecera{
    /*background: #1484e6;*/
    background: #e38d13;
    border-bottom: 2px solid #E67E22
}



.nivel{
    display: none;
}
#preguntas{
    display:none;
}

.titulo{
    color: #fff;
}

.miniboton{
    
    padding: 20px 30px;
    font-size: 25px;
}

.respuestas{
    margin-top:10%;
    
}